@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
.navbar {
  background-color: #eeeeee !important;
  border-top: 4px solid #0d47a1;
  box-shadow: 0 1px 0 rgba(12, 13, 14, 0.1), 0 1px 6px rgba(59, 64, 69, 0.1);
}

#searchForm {
  width: 800px;
  height: 38px;
}
